<ion-header>
  <ion-toolbar color="secondary">


    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="tertiary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>

      <ion-title color="tertiary">Tu Movil</ion-title>
    
 <ion-button (click)="logout()" expand="full" color="tertiary" class="btn2">
  <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
  </ion-button>
</ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content>
<div id="map"></div>
</ion-content>
